* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-name {
  font-weight: bold;
  font-size: 48px;
  margin: 10px;
}

.winner {
  height: 40px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 10px;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.game-board div {
  display: flex;
  font-size: 128px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
}

input {
  width: 120px;
  padding: 5px 10px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 20px;
  width: 75px;
}

button:hover {
  background-color: white;
}

.start {
  background-color: lightgreen;
}

.restart {
  background-color: lightblue;
}

.reset {
  background-color: lightcoral;
}
